[package]
edition.workspace = true
name = "torii"
version.workspace = true

[dependencies]
torii-cli.workspace = true
torii-runner.workspace = true
tokio.workspace = true
anyhow.workspace = true
clap.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true

[build-dependencies]
vergen = { version = "9.0.6", features = ["build", "emit_and_set"] }
vergen-gitcl = "1.0.8"
