name: test

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "crates/**"
      - "examples/**"
      - "bin/**"
      - "xtask/**"
      - "Cargo.toml"
      - "Cargo.lock"

  pull_request:
    paths:
      - "crates/**"
      - "examples/**"
      - "bin/**"
      - "xtask/**"
      - "Cargo.toml"
      - "Cargo.lock"

env:
  CARGO_TERM_COLOR: always
  RUST_VERSION: 1.88.0

jobs:
  fmt:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/dojoengine/torii-dev:latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - run: scripts/rust_fmt.sh

  clippy:
    needs: [fmt]
    runs-on: ubuntu-latest-4-cores
    container:
      image: ghcr.io/dojoengine/torii-dev:latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - run: ./scripts/clippy.sh

  test:
    needs: [fmt, clippy]
    runs-on: ubuntu-latest-32-cores
    container:
      image: ghcr.io/dojoengine/torii-dev:latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2

      - uses: software-mansion/setup-scarb@v1
        with:
          scarb-version: "2.12.2"

      # This puts Katana in the path for integration tests.
      - name: Download Katana for integration tests
        run: |
          curl -L https://github.com/dojoengine/katana/releases/download/v1.7.0/katana_v1.7.0_linux_amd64.tar.gz -o katana.tar.gz;
          tar -C /usr/local/bin -xzf katana.tar.gz

      - name: Setup for integration tests
        run: |
          rustup default stable
          curl -L https://github.com/dojoengine/dojo/releases/download/v1.7.1/dojo_v1.7.1_linux_amd64.tar.gz -o dojo.tar.gz
          tar -C /usr/local/bin -xzf dojo.tar.gz
          sozo build --manifest-path examples/spawn-and-move/Scarb.toml
          sozo build --manifest-path crates/types-test/Scarb.toml

      - name: Run tests
        run: |
          bash scripts/extract_test_db.sh
          cargo nextest run --all-features --workspace --build-jobs 20
